@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    font-family: 'Varta', sans-serif;
}
p{
    color: #6c757d;
}
h2{
    color: var(--text-clr);
    font-size: 1.5rem;
}
input{
    width: 2.2rem;
}
product_name {
    color: black;
     font-size: 1.4rem;
    text-transform: capitalize; 
     font-weight: 500; 
}
.page-link{
    line-height: 16px;
    width: 45px;
    height: 40px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
}

  